* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    /* Define altura de 100% da viewport */
    font-family: "Montserrat", sans-serif;
}

table {
    width: 1000px;
    table-layout: fixed;
    /* define a largura das colunas como fixa, o que significa que elas terão a largura especificada, mesmo que o conteúdo dentro delas seja maior ou menor. a largura das colunas será igualmente distribuída, independentemente do conteúdo das células. */
    border-spacing: 10px;
    margin: 0 auto;
    /* Centraliza a tabela horizontalmente */
}

caption {
    font-weight: 800;
    font-size: 40px;
}

svg {
    cursor: pointer;
    fill: white;
}

.a-down{
    position: absolute;
    top: 113px;
    right: 600px;
}

.plus {
    position: absolute;
    right: 290px;
    top: 113px;
}

thead tr th {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

td {
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 10px;
    height: 60px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.busy {
    background-color: rgba(250, 250, 250, 0.55);
}

.less-busy {
    background-color: rgba(250, 250, 250, 0.4);
}

.not-busy {
    background-color: rgba(250, 250, 250, 0.25);
}


#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}